<template>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <common-header />
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Tổng quát</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" download>
            <i class="fas fa-download fa-sm text-white-50"></i>Tải báo cáo
          </a>
        </div>

        <!-- Content Row -->
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                    >Thu nhập/Tháng</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      40,000,000
                      <sup>vnđ</sup>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-success text-uppercase mb-1"
                    >Thu nhập/Năm</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      480,000,000
                      <sup>vnđ</sup>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-info text-uppercase mb-1"
                    >Số phòng đã sử dụng</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">90%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 50%"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-home fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                    >Yêu cầu sử lý</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->

        <div class="row">
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
              >
                <h6 class="m-0 font-weight-bold text-primary">Tổng quan về thu nhập</h6>
                <div class="dropdown no-arrow">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink"
                  >
                    <div class="dropdown-header">Lựa chọn :</div>
                    <a class="dropdown-item" href="#">Theo tháng</a>
                    <a class="dropdown-item" href="#">Theo năm</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>-->
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
              >
                <h6 class="m-0 font-weight-bold text-primary">
                  Nguồn doanh
                  thu
                </h6>
                <div class="dropdown no-arrow">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink"
                  >
                    <div class="dropdown-header">Lựa chọn:</div>
                    <a class="dropdown-item" href="#">Tháng</a>
                    <a class="dropdown-item" href="#">Năm</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>-->
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                  <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small row">
                  <span class="mr-2 col">
                    <i class="fas fa-circle text-danger"></i> Thuê trọ
                  </span>
                  <span class="mr-2 col">
                    <i class="fas fa-circle text-primary"></i> Giặt là
                  </span>
                  <span class="mr-2 col">
                    <i class="fas fa-circle text-success"></i> Tạp hóa
                  </span>
                </div>
                <div class="mt-4 text-center small row">
                  <span class="mr-2 col">
                    <i class="fas fa-circle text-info"></i> Gia sư
                  </span>
                  <span class="mr-2 col">
                    <i class="fas fa-circle text-warning"></i> Xe công cộng
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Đánh giá về xóm trọ qua các tiêu trí</h6>
              </div>
              <div class="card-body">
                <h4 class="small font-weight-bold">
                  Thành viên xóm trọ thân thiện
                  <span class="float-right">90%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar bg-danger"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Chủ trọ thân thiện
                  <span class="float-right">99%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 99%"
                    aria-valuenow="99"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Vệ sinh xóm trọ
                  <span class="float-right">80%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width:
                        80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Độ an toàn
                  <span class="float-right">90%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar bg-info"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Địa điểm
                  <span class="float-right">Lý tưởng!</span>
                </h4>
                <div class="progress">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <!-- Danh sách người chưa đóng tiền-->
            <div class="card shadow mb-4">
              <div class="d-sm-flex align-items-center justify-content-between mb-3">
                <h1 class="h4 mt-3 ml-3 mb-0 text-gray-800">Danh sách người chưa đóng tiền</h1>
                <a
                  href="#"
                  class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-3 mt-3"
                  download
                >
                  <i class="fas fa-arrow-right text-danger mr-2"></i>Gửi cho tất cả
                </a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="text-center">Họ và tên</th>
                        <th style="width: 120px;" class="text-center">Phòng số</th>
                        <th class="text-center">Số tiền đóng</th>
                        <th style="width: 150px;" class="text-center">Gửi thông báo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">Nguyễn Hữu Phương</td>
                        <td class="text-center">17</td>
                        <td class="text-center">
                          1,500,000
                          <sup>vnđ</sup>
                        </td>
                        <td class="text-center">
                          <a href="index.html" class="btn btn-success btn-icon-split">
                            <span class="icon text-danger">
                              <i class="fas fa-arrow-right"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">Nguyễn Hữu Phương</td>
                        <td class="text-center">12</td>
                        <td class="text-center">
                          1,500,000
                          <sup>vnđ</sup>
                        </td>
                        <td class="text-center">
                          <a href="index.html" class="btn btn-success btn-icon-split">
                            <span class="icon text-danger">
                              <i class="fas fa-arrow-right"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">Nguyễn Hữu Phương</td>
                        <td class="text-center">11</td>
                        <td class="text-center">
                          1,500,000
                          <sup>vnđ</sup>
                        </td>
                        <td class="text-center">
                          <a href="index.html" class="btn btn-success btn-icon-split">
                            <span class="icon text-danger">
                              <i class="fas fa-arrow-right"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <!-- Illustrations -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Giới thiệu về xóm trọ</h6>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <img
                    class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                    src="#"
                    alt
                    width="100%"
                  />
                </div>
                <p>
                  Xóm trọ hòa lạc link 01 là một xóm trọ với địa điểm gần trường ĐH-FPT, với một địa điểm đẹp gần đường quốc lộ 21A đối diện cây xăng 39 đặc biệt là gần bến xe bus , và rất nhiều xe khách đi qua xóm trọ từ khắp các nơi , hải phòng , thái nguyên....
                  Xóm trọ gồm đầy đủ các trang thiết bị cần thiết như :
                </p>
                <p>+ Khóa cổng vân tay</p>
                <p>+ 3 camera trang bị quan sát xóm trọ 24/7</p>
                <p>+ Điều hòa , nóng lạnh , máy giặt , giường , bàn học / mỗi phòng</p>
                <p>+ Đặc biệt là không ở cùng với chủ , thời gian giờ giấc thoải mái , cổng vân tay lên ai muốn đi muốn về lúc nào cũng được không bị phiền.</p>
                <p>+ Điện 3k/1số , Nước 50k/Tháng , Máy giặt 50k/người/Tháng</p>
                <span>Các bạn cần cung cấp thêm về thông tin nhà đất =></span>
                <a target="_blank" rel="nofollow" href="http://hoalaclink.vn/">http://hoalaclink.vn</a>
              </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Development
                  Approach
                </h6>
              </div>
              <div class="card-body">
                <p>
                  SB Admin 2 makes extensive use of Bootstrap 4 utility
                  classes in order to reduce CSS bloat and poor
                  page performance. Custom CSS classes are used to create
                  custom components and custom utility
                  classes.
                </p>
                <p class="mb-0">
                  Before working with this theme, you should
                  become familiar with the Bootstrap
                  framework, especially the utility classes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <common-footer />
    <!-- End of Footer -->
  </div>
</template>

<script>
import CommonFooter from "../common/CommonFooter.vue";
import CommonHeader from "../common/CommonHeader.vue";

export default {
  name: "content-wrapper",
  components: {
    CommonFooter,
    CommonHeader,
  },
  data() {
    return {};
  },
};
</script>
