<template>
  <div id="app">
    <CommonSidebar></CommonSidebar>
    <ContentWapper></ContentWapper>
    <!-- <div class="alert alert-success alert-allowable fade show" role="alert">
      Với Bootstrap!
      <font-awesome-icon icon="user-secret" />
      <font-awesome-icon icon="user-secret" />

      <button type="button" class="close" data-dict="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ul v-if="posts && posts.length">
      <li v-for="post of posts" v-bind:key="post.id">
        <p>
          <strong>{{post.title}}</strong>
          <strong>{{post.author}}</strong>
        </p>
      </li>
    </ul>-->
  </div>
</template>

<script>
import CommonSidebar from "./common/CommonSidebar.vue";
import ContentWapper from "./components/ContentWapper.vue";

// import ComponentHeader from "./components/ComponentHeader.vue";
// import ComponentFooter from "./components/ComponentFooter.vue";
// import ListUser from "./components/ListUser.vue";
import axios from "axios";

export default {
  name: "app",
  data() {
    return {
      title: {
        name: "Quan ly Xom Tro",
        address: "Cay Xang 39",
      },
      listUser: [
        { id: 1, account: "account1", password: "123456" },
        { id: 2, account: "account2", password: "123456" },
        { id: 3, account: "account3", password: "123456" },
        { id: 4, account: "account4", password: "123456" },
      ],
    };
  },
  components: {
    CommonSidebar,
    ContentWapper,
  },
  data() {
    return {
      posts: [],
      errors: [],
    };
  },

  // lấy dữ liệu khi component được tạo thành công
  created() {
    axios
      .get("http://localhost:3000/posts")
      .then((response) => {
        this.posts = response.data;
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
};
</script>
