<template>
  <div class="common-footer">
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "common-footer",
  data() {
    return {};
  },
};
</script>

<style>
</style>